<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for InkWriter" Description="Code analysis rules for InkWriter.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS7035" Action="None" />
  </Rules>
</RuleSet>